{$FRONTEND_DOMAIN} {
    reverse_proxy {$FRONTEND_REACT_URL}
}

{$API_DOMAIN} {
    handle_path /api/* {
        reverse_proxy backend:8000
    }
}

{$DEBUG_DOMAIN} {
    handle_path /api/* {
        reverse_proxy backend:9000
    }
}

